body {
  background-color: #ddf3f5;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1 {
  color: #66AABF;
  text-transform: uppercase;
  text-shadow: 2px 0 red;
}

h3 {
  color: #66AABF;
}
